# Git / IDE
.git
.gitignore
.idea
.vscode
*.iml

target/

movapp-front

observability

docs
README.md
HELP.md
*.bat
*.sh

tests
simulation
load-test.js
*.log

.env
.env.*

Dockerfile
docker-compose*.yml
.dockerignore
